{% extends '_base.html' %} {% load static form_tags %}

{% block slot %}

<div class="h-screen grid relative bg-gradient-to-bl from-slate-100 to-white">
    <div class="absolute z-10 inset-0 grid content-center lg:pb-16">
        <div class="container mx-auto grid gap-4 md:grid-cols-2 items-center justify-items-center">
            <figure>
                <img src="{% static 'images/logo-large.webp' %}" alt="Switch Consults Logo">
            </figure>
            <div>
                <form method="post" class="grid gap-8 bg-white rounded-xl shadow-2xl p-8 md:px-12 md:py-16 w-full lg:w-[500px]">
                    <div class="pb-8">
                        <svg width="130" class="mx-auto" viewBox="0 0 130 33" fill="none">
                            <path d="M7.25 25.2271C26.4167 12.2271 76.35 -5.97287 122.75 25.2271" stroke="#9DCE5D"
                                stroke-width="14" stroke-linecap="round" />
                        </svg>
                    </div>
                    {% csrf_token %}
                    {{ form|style_form }}
                    <div class="grid gap-4">
                        <button class="btn-primary full">
                            Login
                        </button>
                        <a href="#" class="text-primary">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1920 427" class="absolute bottom-0">
        <g clip-path="url(#clip0_5_2)">
            <path
                d="M0 341.6L64.0667 298.9C128.133 256.2 256.267 170.8 384.4 121.028C512.533 70.7218 640.667 57.3781 768.8 64.0499C896.933 70.7218 1025.07 100.078 1153.2 99.6777C1281.33 100.078 1409.47 70.7218 1537.6 121.028C1665.73 170.8 1793.87 298.9 1857.93 362.95L1922 427H1857.93C1793.87 427 1665.73 427 1537.6 427C1409.47 427 1281.33 427 1153.2 427C1025.07 427 896.933 427 768.8 427C640.667 427 512.533 427 384.4 427C256.267 427 128.133 427 64.0667 427H0V341.6Z"
                fill="url(#paint0_linear_5_2)" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_5_2" x1="0" y1="244.727" x2="1922" y2="244.727"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#99426F" />
                <stop offset="1" stop-color="#591F60" />
            </linearGradient>
            <clipPath id="clip0_5_2">
                <rect width="1922" height="427" fill="white" />
            </clipPath>
        </defs>
    </svg>
</div>

{% endblock slot %}