{% extends '_base.html' %} {% load tailwind_filters %}

{% block slot %}

<main class="h-screen w-screen grid place-content-center">
    <div class="max-w-lg mx-auto h-screen grid content-center">
        <h1 class="text-3xl font-semibold mb-4">Enter your new password</h1>
    
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type='submit' class="w-full btn-primary">Confirm new password</button>
        </form>
    </div>
</main>

{% endblock slot %}