{% extends '_base.html' %} {% load tailwind_filters %}

{% block slot %}

<main class="h-screen w-screen grid place-content-center">
    <div class="max-w-lg px-4 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800">Reset your password</h1>
    
        <form method="post" class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type='submit' class="w-full text-white bg-primary hover:bg-red-800 px-3 py-2 rounded-md">
                Reset password
            </button>
        </form>
        <div class="py-5 border-t border-gray-200 mt-5">
            <a class="hover:text-primary" href="{% url 'accounts:login' %}">Already have an account?</a>
        </div>
    </div>
</main>

{% endblock slot %}