{% extends "_base.html" %}

{% block slot %}
<main class="h-screen w-screen grid place-content-center p-4">
    <div class="max-w-lg w-full">
        <h1 class="text-lg font-semibold mb-2">Password reset complete</h1>
    
        <p>
            You have successfully reset your password.
        </p>
        <div class="py-5 border-t border-gray-200 mt-5 grid justify-center">
            <a class="btn-primary" href="{% url 'accounts:login' %}">Log in</a>
        </div>
    </div>
</main>

{% endblock slot %}