<ol class="nav-menu">
    <!-- home -->
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-house"></i>
            <span>
                Home <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            <a href="/" class="nav-menu__group__link" id="homepage_link">
                <i class="icon fas fa-circle"></i>
                Homepage</a>
            <a href="{% url 'accounts:profile' %}" class="nav-menu__group__link" id="profile_link">
                <i class="icon fas fa-circle"></i>
                My Profile</a>
            {% if request.user.is_superuser %}
            <a href="/admin/" class="nav-menu__group__link" id="profile_link">
                <i class="icon fas fa-circle"></i>
                Super Admin</a>
            {% endif %}
        </div>
    </li>
    <!-- jobcards -->
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-car-on"></i>
            <span>
                Jobcards <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            {% if perms.jobcards.view_jobcard %}
            <a href="{% url 'jobcards:list' %}" class="nav-menu__group__link" id="jobcards_link">
                <i class="icon fas fa-circle"></i>
                Jobcards</a>
            {% endif %}
            {% if perms.jobcards.add_jobcard %}
            <a href="{% url 'jobcards:create' %}" class="nav-menu__group__link" id="jobcards_create_link">
                <i class="icon fas fa-circle"></i>
                New Jobcard</a>
            {% endif %}
            {% if perms.external_records.view_externaljobcard %}
            <a href="{% url 'external_jobcards:list' %}" class="nav-menu__group__link" id="externals_link">
                <i class="icon fas fa-circle"></i>
                Externals</a>
            {% endif %}
            {% if perms.vehicles.view_vehicle %}
            <a href="{% url 'vehicles:list' %}" class="nav-menu__group__link" id="vehicles_link">
                <i class="icon fas fa-circle"></i>
                Vehicles</a>
            {% endif %}
            {% if perms.customers.view_customer %}
            <a href="{% url 'customers:list' %}" class="nav-menu__group__link" id="customers_link">
                <i class="icon fas fa-circle"></i>
                Customers</a>
            {% endif %}
        </div>
    </li>
    <!-- finances -->
    {% if request.user.is_account_staff %}
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-magnifying-glass-dollar"></i>
            <span>
                Finances <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            {% if perms.payments.view_payment %}
            <a href="{% url 'payments:list' %}" class="nav-menu__group__link" id="payments_link">
                <i class="icon fas fa-circle"></i>
                Payments</a>
            {% endif %}
            {% if perms.payments.add_payment %}
            <a href="{% url 'payments:CU' %}" class="nav-menu__group__link" id="payments_create_link">
                <i class="icon fas fa-circle"></i>
                New Payment</a>
            {% endif %}
            {% if perms.income.view_income %}
            <a href="{% url 'income:list' %}" class="nav-menu__group__link" id="income_link">
                <i class="icon fas fa-circle"></i>
                Income</a>
            {% endif %}
            {% if perms.financing.view_loan %}
            <a href="{% url 'financing:loans' %}" class="nav-menu__group__link" id="loans_link">
                <i class="icon fas fa-circle"></i>
                Loans</a>
            {% endif %}
            {% if perms.transactions.view_transaction %}
            <a href="{% url 'transactions:list' %}" class="nav-menu__group__link" id="transactions_link">
                <i class="icon fas fa-circle"></i>
                Transactions</a>
            {% endif %}
            {% if perms.moneyaccounts.view_account %}
            <a href="{% url 'moneyaccounts:list' %}" class="nav-menu__group__link" id="moneyaccounts_link">
                <i class="icon fas fa-circle"></i>
                Accounts</a>
            {% endif %}
        </div>
    </li>
    {% endif %}
    <!-- documents -->
    {% if request.user.is_account_staff %}
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-file-lines"></i>
            <span>
                Documents <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            {% if perms.quotations.view_quotation %}
            <a href="{% url 'quotations:list' %}" class="nav-menu__group__link" id="quotations_link">
                <i class="icon fas fa-circle"></i>
                Quotations</a>
            {% endif %}
            {% if perms.invoices.view_invoice %}
            <a href="{% url 'invoices:list' %}" class="nav-menu__group__link" id="invoices_link">
                <i class="icon fas fa-circle"></i>
                Invoices</a>
            {% endif %}
            {% if perms.receipts.view_receipt %}
            <a href="{% url 'receipts:list' %}" class="nav-menu__group__link" id="receipts_link">
                <i class="icon fas fa-circle"></i>
                Receipts</a>
            {% endif %}
            {% if perms.invoices.view_invoice %}
            <a href="{% url 'debtors:list' %}" class="nav-menu__group__link" id="debtors_link">
                <i class="icon fas fa-circle"></i>
                Debtors</a>
            {% endif %}
        </div>
    </li>
    {% endif %}
    <!-- people -->
    {% if perms.accounts.view_user %}
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-person"></i>
            <span>
                People <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            <a href="{% url 'accounts:list' %}" class="nav-menu__group__link" id="people_link">
                <i class="icon fas fa-circle"></i>
                Users</a>
            {% if perms.salary.view_wage %}
            <a href="{% url 'salary:wage-list' %}" class="nav-menu__group__link" id="salary_link">
                <i class="icon fas fa-circle"></i>
                Wages</a>
            {% endif %}
        </div>
    </li>
    {% endif %}
    <!-- dashboards -->
    {% if request.user.is_account_staff %}
    <li class="nav-menu__group" aria-expanded="false">
        <button type="button" class="nav-menu__group__title">
            <i class="icon fas fa-chart-simple"></i>
            <span>
                Dashboards <i class="fas fa-chevron-down text-sm chevron"></i>
            </span>
        </button>
        <div class="nav-menu__group__links">
            {% if request.user.is_account_staff %}
            <a href="{% url 'dashboard:dashboard' %}" class="nav-menu__group__link" id="dashboard_link">
                <i class="icon fas fa-circle"></i>
                Dashboard</a>
            {% endif %}
            {% if perms.reports.view_report %}
            <a href="{% url 'reports:report-run' %}" class="nav-menu__group__link" id="reports_link">
                <i class="icon fas fa-circle"></i>
                Reports</a>
            {% endif %}
        </div>
    </li>
    {% endif %}
</ol>

<script>
    const menu = document.querySelector('.nav-menu')
    const menu_buttons = menu.querySelectorAll('.nav-menu__group__title')
    menu_buttons.forEach(button => {
        button.addEventListener('click', () => {
            const current_state = button.parentElement.getAttribute('aria-expanded')
            
            menu.querySelectorAll('[aria-expanded="true"]').forEach(li => {
                console.log(li)
                li.setAttribute('aria-expanded', 'false')
            })
            
            button.parentElement.setAttribute('aria-expanded', 
            (current_state == 'true' ? 'false' : 'true'))
        })
    });
</script>


    
